---
layout: default
title: Home
---


{% comment %}
  Displays a list of posts broken down by year.
{% endcomment %}

<i class="fa fa-cloud" aria-hidden="true"></i> - Salesforce |
<i class="fa fa-book" aria-hidden="true"></i> - Book |
<i class="fa fa-btc" aria-hidden="true"></i> - Crypto |
<i class="fa fa-code" aria-hidden="true"></i> - Programming |
<i class="fa fa-pencil-square-o" aria-hidden="true"></i> - Misc

{% for post in site.posts %}
  {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <h1>{{ currentyear }}</h1>
    <ul>
    {% capture year %}{{ currentyear }}{% endcapture %}
  {% endif %}
    <div class="archive-item">
        {% if post.tags contains "Salesforce" %}
        <i class="fa fa-cloud" aria-hidden="true"></i>
        {% elsif post.tags contains "Video" %}
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        {% elsif post.tags contains "Crypto" %}
        <i class="fa fa-btc" aria-hidden="true"></i>
        {% elsif post.tags contains "Book" %}
        <i class="fa fa-book" aria-hidden="true"></i>
        {% elsif post.tags contains "Programming" %}
        <i class="fa fa-code" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        {% endif %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="archive-date">
            <time>{{ post.date: | date: '%b %d, %Y' }}</time>
        </span></br>
    </div>
{% endfor %}
